<%= form_with(model: [customer, booking], local: true) do |form| %>

  <div class="field">
    <%= form.label :name, label: "Название - Name" %><br>
    <%= form.text_field :name %>
  </div>

  <br>

  <div class="field">
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </div>

  <br>

  <div class="field">
    <%= form.label :rooms %><br>
    <%= form.number_field :rooms %>
  </div>

  <br>

  <div class="field">
    <%= form.label :wifi %>
    <%= form.check_box :wifi %>
  </div>

  <br>

  <div class="field">
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </div>

  <br>

  <div class="field">
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <br>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <br>

  <div class="field">
   <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <br>

  <div class="actions">
    <%= form.button :submit, class: "btn-primary" %>
  </div>
<% end %>
