<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Rooms</th>
      <th>Wifi</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Description</th>
      <th>Available</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= booking.category %></td>
        <td><%= booking.rooms %></td>
        <td><%= booking.wifi %></td>
        <td><%= booking.phone %></td>
        <td><%= booking.address %></td>
        <td><%= booking.description %></td>
        <td><%= booking.available %></td>
        <td><%= booking.check_in %></td>
        <td><%= booking.check_out %></td>
        <td><%= booking.customer_id %></td>
        <td><%= link_to 'Show', customer_booking_url(@customer, booking)  %></td>
        <td><%= link_to 'Edit', edit_customer_booking_path(@customer, booking) %></td>
        <td><%= link_to 'Destroy', [@customer, booking], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_customer_booking_path(@customer) %>
