<p id="notice"><%= notice %></p>

<% @bookings.each do |booking| %>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">

      <%= image_tag booking.images.first.variant(resize_to_limit: [200, 200]), class: "card-img" %>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= booking.name %></h5>
        <div class="card-text">

            <ul><%= booking.category %></ul>
            <ul><%= booking.rooms %></ul>
            <ul><%= booking.wifi %></ul>
            <ul><%= booking.description %></ul>
            <ul><small class="text-muted">Created <%= time_ago_in_words(booking.created_at) %> ago</small></ul>
        </div>
      </div>
    </div>
  </div>
</div>

 <% end %>
