<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Rooms</th>
      <th>Wifi</th>
      <th>Address</th>
      <th>Description</th>
      <th>Available</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= booking.category %></td>
        <td><%= booking.rooms %></td>
        <td><%= booking.wifi %></td>
        <td><%= booking.address %></td>
        <td><%= booking.description %></td>
        <td><%= booking.available %></td>

        <td>
        <% booking.images.each do |image| %>

          <p>
          <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
          </p>

        <% end %>
        </td>
        <td><%= link_to 'Show', customer_booking_url(booking.customer_id, booking)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
