<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @booking.category %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @booking.rooms %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @booking.wifi %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @booking.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @booking.available %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @booking.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @booking.check_out %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer_id %>
</p>



<% @booking.images.each do |image| %>

  <p>
  <%= image_tag("https://s3.us-west-1.wasabisys.com/kaganat/#{image.key}") %>
  </p>

<% end %>
<%= link_to 'Edit', edit_customer_booking_path(@customer, @booking) %> |
<%= link_to 'Back', customer_bookings_path %>
