<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @booking.category %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @booking.rooms %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @booking.wifi %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @booking.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @booking.available %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer_id %>
</p>



<% @booking.images.each do |image| %>

  <p>
  <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
  </p>

<% end %>
<%= link_to 'Edit', edit_customer_booking_path(@customer, @booking) %> |
<%= link_to 'Back', customer_bookings_path %>

<br>

<td><%= link_to 'Destroy', [@customer, @booking], method: :delete, data: { confirm: 'Are you sure?' } %></td>